@model RareNFTs.Web.ViewModels.ViewModelLogin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RareNFTs.Web.styles.css" asp-append-version="true" />
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Login</title>
    <!--====== Lineicons CSS ======-->
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet" />
    <!--====== Tiny Slider Css ======-->
    <link rel="stylesheet" href="https://cdn.ayroui.com/1.0/css/tiny-slider.css" />
    <!-- Toast-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <!-- SweetAlert-->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet">
    <!--AutoComplete https://www.cssscript.com/demo/bootstrap-5-autocomplete/ -->
    <link href="~/css/autocompleteBS.css" rel="stylesheet">
    <!--JQuery UI CSS-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

</head>


<body style="background-color:black">

    <!--====== SIGNIN ONE PART START ======-->
    <section class="signin-area signin-one">
        <div id="formContainer" class="container">

            <div class="row justify-content-center">
                <div  class="form-content col-lg-5">
                    <form asp-controller="Login" asp-action="LogIn" method="post" asp-antiforgery="true">
                        <div class="signin-form form-style-two rounded-buttons">
                            <div class="row">
                                <div class="col-md-12">
                                    <div  class="form-input">
                                        <label>Email Account</label>
                                        <div  class="input-items default">
                                            <input asp-for="User" class="form-control" type="text" autocomplete="true" placeholder="Email" />
                                            <span asp-validation-for="User" class="text-danger"></span>
                                            <i class="lni lni-envelope"></i>
                                        </div>
                                    </div>
                                    <!-- form input -->
                                </div>
                               
                                <div class="col-md-12">
                                    <div class="form-input">
                                        <label>Password</label>
                                        <div class="input-items default">
                                            <input asp-for="Password" class="form-control" type="password" autocomplete="false" placeholder="Password" />
                                            <span asp-validation-for="Password" class="text-danger"></span>                                            <i class="lni lni-key"></i>
                                        </div>
                                    </div>
                                    <!-- form input -->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input rounded-buttons">
                                        <button class="btn btn-primary" type="submit" onclick="spinnerEffect()">Sing In!</button>

                                    </div>
                                    <!-- form input -->
                                </div>
                               
                            </div>
                        </div>
                        <!-- signin form -->
                        <!-- Div para spinner -->
                        <div id="loader" class="loadingXXXX" style="width: 3rem; height: 3rem;" role="status">
                        </div>


                        @if (@ViewBag.Message != null)
                        {
                            <div class="form-group">
                                <div id="message" class="alert alert-danger" role="alert">
                                    @ViewBag.Message
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!--====== SIGNIN ONE PART ENDS ======-->
    <!--====== FOOTER ONE PART START ======-->
    <footer class="footer-area footer-one">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-4 col-sm-12">
                        <div class="f-about">
                            <div class="footer-logo">
                                <a href="javascript:void(0)">
                                    <img src="https://cdn.ayroui.com/1.0/images/footer/logo.svg" alt="Logo" />
                                </a>
                            </div>
                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </p>
                        </div>
                        <div class="footer-app-store">
                            <h5 class="download-title">Download Our App Now!</h5>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="https://cdn.ayroui.com/1.0/images/footer/app-store.svg"
                                             alt="app" />
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <img src="https://cdn.ayroui.com/1.0/images/footer/play-store.svg"
                                             alt="play" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-sm-4">
                        <div class="footer-link">
                            <h6 class="footer-title">Company</h6>
                            <ul>
                                <li><a href="javascript:void(0)">About</a></li>
                                <li><a href="javascript:void(0)">Contact</a></li>
                                <li><a href="javascript:void(0)">Marketing</a></li>
                                <li><a href="javascript:void(0)">Awards</a></li>
                            </ul>
                        </div>
                        <!-- footer link -->
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-4">
                        <div class="footer-link">
                            <h6 class="footer-title">Services</h6>
                            <ul>
                                <li><a href="javascript:void(0)">Products</a></li>
                                <li><a href="javascript:void(0)">Business</a></li>
                                <li><a href="javascript:void(0)">Developer</a></li>
                                <li><a href="javascript:void(0)">Insights</a></li>
                            </ul>
                        </div>
                        <!-- footer link -->
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-4">
                        <!-- Start Footer Contact -->
                        <div class="footer-contact">
                            <h6 class="footer-title">Help & Suport</h6>
                            <ul>
                                <li>
                                    <i class="lni lni-map-marker"></i> Madison Street, NewYork,
                                    USA
                                </li>
                                <li><i class="lni lni-phone-set"></i> +88 556 88545</li>
                                <li><i class="lni lni-envelope"></i> support@ayroui.com</li>
                            </ul>
                        </div>
                        <!-- End Footer Contact -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- footer widget -->
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="
                  copyright
                  text-center
                  d-md-flex
                  justify-content-between
                  align-items-center
                  ">
                            <p class="text">Copyright © 2024 AyroUI. All Rights Reserved</p>
                            <ul class="social">
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="lni lni-facebook-filled"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="lni lni-twitter-original"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="lni lni-instagram-filled"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="lni lni-linkedin-original"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- copyright -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- footer copyright -->
    </footer>
    <!--====== FOOTER ONE PART ENDS ======-->

    <script type="text/javascript">
        function spinnerEffect() {
            console.log("spinnerEffect")
            document.getElementById("loader").innerHTML=""
            document.getElementById("loader").className = "loading";
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Toast-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- Ajax unobtrusive-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha512-f04GBpoqEZhbyjlRTuXeg8FIHDb+xfCJ0LVdqiN1fEl5B3jz3Z0SPe9IxDumOVdTeeXmKMcMJhb26VuGf1Laqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
    <!--AutoComplete  https://www.cssscript.com/demo/bootstrap-5-autocomplete/  -->
    <!-- JQuery UI Autocomplete -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/js/autocompleteBS.js" asp-append-version="true"></script>


</body>
</html>
